html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  max-height: 100%;
  overflow: hidden;
  word-break: break-all;
}
img , svg {
  max-width: 100%;
}

html,
ul,
ol,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  list-style-type: none;
}

body {
  max-height: 100vh;
}

.container {
  max-width: 1100px;
  padding: 0 25px;
  margin: 0 auto;
}

.bottom {
  height: 67vh;
}

.top,
.bottom {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.bottom__left {
  flex-basis: 300px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

.bottom__right {
  padding: 0px 0 0 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  max-width: 100%;
  max-height: 65vh;
}
.accaunt{
  overflow: hidden;
}
.messager {
  display: flex;
  flex-direction: column;
  max-height: 92%;
  overflow-y: auto;
  margin-bottom: auto;
  max-width: 100%;
}

.hide {
  display: none;
}

.message-body.midle .author {
  display: none;
}

.message-body {
  background-color: rgb(165, 165, 165);
  padding: 4px;
  margin-bottom: 2px;
  border-radius: 10px;
}

.messager-form {}

.messager-list {
  max-height: 100%;
  overflow-y: auto;
}
/* messages styles */
.messager-name {
  z-index: 4;
}
.message-body {
  position: relative;
  align-self: flex-start;
}
.server-message{
  align-self: center;
  background-color: gray;
  opacity: 0.5;
}
.my-message{
  align-self: flex-end;
  background-color: rgb(133, 133, 133);
}
.message-popup{
  background: red;
  display: block;
}
.input-img input[type="file"]{
  position: absolute;
  z-index: -11;
  display: none;
}
.img-preview{
  max-width: 200px;
}
.chat-slider-nav{
  display: flex;
  gap: 6px;
  padding: 0 20px;
}
.chat-slider-choose {
  padding: 4px;
  border: 1px solid black;
  background-color: gray;
}
.chat-slider-choose.curent{
  border-bottom: none;
}
.chat-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  z-index: 3;
  transition: transform 0.3s ease-in-out;
  padding: 20px 0;
  transform: translateX(102%);
}
.chat-slider-body{
  padding: 0 20px;
  padding-top: 10px;
  border-top: 1px solid;
  margin-top: -1px;
}
.chat-slider-body.media{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  overflow-y: auto;
  max-height: 98%;
}
.chat-slider-body.media::-webkit-scrollbar{
  background-color: gray;
}
.chat-slider-body.media::-webkit-scrollbar-thumb{
  border: 1px solid;
  border-radius: 20px;
}
.accaunt-slider{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: gray;
}
.accaunt-slider.active{
  transform: translateX(0);
}